@function sprite_image_url(){
  @return image-url('art.png');
}


@function sprite_position_bullet(){
  @return -249px -2px;
}
@mixin sprite_bullet($width: 5px, $height: 5px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_bullet();
  }
}

@function sprite_position_bullet_hit_0000(){
  @return -121px -186px;
}
@mixin sprite_bullet_hit_0000($width: 15px, $height: 15px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_bullet_hit_0000();
  }
}

@function sprite_position_bullet_hit_0001(){
  @return -104px -186px;
}
@mixin sprite_bullet_hit_0001($width: 15px, $height: 15px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_bullet_hit_0001();
  }
}

@function sprite_position_bullet_hit_0002(){
  @return -232px -19px;
}
@mixin sprite_bullet_hit_0002($width: 15px, $height: 15px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_bullet_hit_0002();
  }
}

@function sprite_position_cargo(){
  @return -116px -203px;
}
@mixin sprite_cargo($width: 10px, $height: 10px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_cargo();
  }
}

@function sprite_position_city_0000(){
  @return -104px -240px;
}
@mixin sprite_city_0000($width: 100px, $height: 100px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_city_0000();
  }
}

@function sprite_position_city_0001(){
  @return -2px -186px;
}
@mixin sprite_city_0001($width: 100px, $height: 100px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_city_0001();
  }
}

@function sprite_position_cloud(){
  @return -2px -34px;
}
@mixin sprite_cloud($width: 150px, $height: 150px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_cloud();
  }
}

@function sprite_position_cursor(){
  @return -232px -2px;
}
@mixin sprite_cursor($width: 15px, $height: 15px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_cursor();
  }
}

@function sprite_position_fuel(){
  @return -104px -203px;
}
@mixin sprite_fuel($width: 10px, $height: 10px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_fuel();
  }
}

@function sprite_position_health(){
  @return -138px -198px;
}
@mixin sprite_health($width: 10px, $height: 10px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_health();
  }
}

@function sprite_position_interface(){
  @return -2px -2px;
}
@mixin sprite_interface($width: 228px, $height: 30px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_interface();
  }
}

@function sprite_position_money(){
  @return -138px -186px;
}
@mixin sprite_money($width: 10px, $height: 10px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_money();
  }
}

@function sprite_position_pirate_0000(){
  @return -158px -394px;
}
@mixin sprite_pirate_0000($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_pirate_0000();
  }
}

@function sprite_position_pirate_0001(){
  @return -106px -446px;
}
@mixin sprite_pirate_0001($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_pirate_0001();
  }
}

@function sprite_position_pirate_0002(){
  @return -106px -394px;
}
@mixin sprite_pirate_0002($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_pirate_0002();
  }
}

@function sprite_position_pirate_0003(){
  @return -158px -342px;
}
@mixin sprite_pirate_0003($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_pirate_0003();
  }
}

@function sprite_position_ship_hawk_0000(){
  @return -106px -342px;
}
@mixin sprite_ship_hawk_0000($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ship_hawk_0000();
  }
}

@function sprite_position_ship_hawk_0001(){
  @return -54px -446px;
}
@mixin sprite_ship_hawk_0001($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ship_hawk_0001();
  }
}

@function sprite_position_ship_hawk_0002(){
  @return -54px -394px;
}
@mixin sprite_ship_hawk_0002($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ship_hawk_0002();
  }
}

@function sprite_position_ship_hawk_0003(){
  @return -54px -342px;
}
@mixin sprite_ship_hawk_0003($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ship_hawk_0003();
  }
}

@function sprite_position_ship_sparrow_0000(){
  @return -2px -444px;
}
@mixin sprite_ship_sparrow_0000($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ship_sparrow_0000();
  }
}

@function sprite_position_ship_sparrow_0001(){
  @return -2px -392px;
}
@mixin sprite_ship_sparrow_0001($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ship_sparrow_0001();
  }
}

@function sprite_position_ship_sparrow_0002(){
  @return -2px -340px;
}
@mixin sprite_ship_sparrow_0002($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ship_sparrow_0002();
  }
}

@function sprite_position_ship_sparrow_0003(){
  @return -2px -288px;
}
@mixin sprite_ship_sparrow_0003($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ship_sparrow_0003();
  }
}

@function sprite_position_station_0000(){
  @return -154px -138px;
}
@mixin sprite_station_0000($width: 100px, $height: 100px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_station_0000();
  }
}

@function sprite_position_station_0001(){
  @return -154px -36px;
}
@mixin sprite_station_0001($width: 100px, $height: 100px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_station_0001();
  }
}


