@function sprite_image_url(){
  @return image-url('art.png');
}


@function sprite_position_bullet(){
  @return -370px -54px;
}
@mixin sprite_bullet($width: 5px, $height: 5px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_bullet();
  }
}

@function sprite_position_bullet_hit_0000(){
  @return -205px -136px;
}
@mixin sprite_bullet_hit_0000($width: 15px, $height: 15px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_bullet_hit_0000();
  }
}

@function sprite_position_bullet_hit_0001(){
  @return -188px -136px;
}
@mixin sprite_bullet_hit_0001($width: 15px, $height: 15px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_bullet_hit_0001();
  }
}

@function sprite_position_bullet_hit_0002(){
  @return -171px -136px;
}
@mixin sprite_bullet_hit_0002($width: 15px, $height: 15px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_bullet_hit_0002();
  }
}

@function sprite_position_cargo(){
  @return -358px -90px;
}
@mixin sprite_cargo($width: 10px, $height: 10px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_cargo();
  }
}

@function sprite_position_city_0000(){
  @return -256px -2px;
}
@mixin sprite_city_0000($width: 100px, $height: 100px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_city_0000();
  }
}

@function sprite_position_city_0001(){
  @return -154px -2px;
}
@mixin sprite_city_0001($width: 100px, $height: 100px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_city_0001();
  }
}

@function sprite_position_cloud(){
  @return -2px -2px;
}
@mixin sprite_cloud($width: 150px, $height: 150px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_cloud();
  }
}

@function sprite_position_cursor(){
  @return -154px -136px;
}
@mixin sprite_cursor($width: 15px, $height: 15px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_cursor();
  }
}

@function sprite_position_fuel(){
  @return -358px -78px;
}
@mixin sprite_fuel($width: 10px, $height: 10px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_fuel();
  }
}

@function sprite_position_health(){
  @return -358px -66px;
}
@mixin sprite_health($width: 10px, $height: 10px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_health();
  }
}

@function sprite_position_interface(){
  @return -154px -104px;
}
@mixin sprite_interface($width: 228px, $height: 30px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_interface();
  }
}

@function sprite_position_money(){
  @return -358px -54px;
}
@mixin sprite_money($width: 10px, $height: 10px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_money();
  }
}

@function sprite_position_pirate_0000(){
  @return -466px -158px;
}
@mixin sprite_pirate_0000($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_pirate_0000();
  }
}

@function sprite_position_pirate_0001(){
  @return -414px -158px;
}
@mixin sprite_pirate_0001($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_pirate_0001();
  }
}

@function sprite_position_pirate_0002(){
  @return -466px -106px;
}
@mixin sprite_pirate_0002($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_pirate_0002();
  }
}

@function sprite_position_pirate_0003(){
  @return -414px -106px;
}
@mixin sprite_pirate_0003($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_pirate_0003();
  }
}

@function sprite_position_ship_hawk_0000(){
  @return -436px -54px;
}
@mixin sprite_ship_hawk_0000($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ship_hawk_0000();
  }
}

@function sprite_position_ship_hawk_0001(){
  @return -384px -54px;
}
@mixin sprite_ship_hawk_0001($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ship_hawk_0001();
  }
}

@function sprite_position_ship_hawk_0002(){
  @return -362px -188px;
}
@mixin sprite_ship_hawk_0002($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ship_hawk_0002();
  }
}

@function sprite_position_ship_hawk_0003(){
  @return -362px -136px;
}
@mixin sprite_ship_hawk_0003($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ship_hawk_0003();
  }
}

@function sprite_position_ship_sparrow_0000(){
  @return -310px -188px;
}
@mixin sprite_ship_sparrow_0000($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ship_sparrow_0000();
  }
}

@function sprite_position_ship_sparrow_0001(){
  @return -310px -136px;
}
@mixin sprite_ship_sparrow_0001($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ship_sparrow_0001();
  }
}

@function sprite_position_ship_sparrow_0002(){
  @return -258px -188px;
}
@mixin sprite_ship_sparrow_0002($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ship_sparrow_0002();
  }
}

@function sprite_position_ship_sparrow_0003(){
  @return -258px -136px;
}
@mixin sprite_ship_sparrow_0003($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ship_sparrow_0003();
  }
}

@function sprite_position_ship_squacco_0000(){
  @return -462px -2px;
}
@mixin sprite_ship_squacco_0000($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ship_squacco_0000();
  }
}

@function sprite_position_ship_squacco_0001(){
  @return -410px -2px;
}
@mixin sprite_ship_squacco_0001($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ship_squacco_0001();
  }
}

@function sprite_position_ship_squacco_0002(){
  @return -206px -153px;
}
@mixin sprite_ship_squacco_0002($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ship_squacco_0002();
  }
}

@function sprite_position_ship_squacco_0003(){
  @return -358px -2px;
}
@mixin sprite_ship_squacco_0003($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ship_squacco_0003();
  }
}

@function sprite_position_station_0000(){
  @return -104px -154px;
}
@mixin sprite_station_0000($width: 100px, $height: 100px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_station_0000();
  }
}

@function sprite_position_station_0001(){
  @return -2px -154px;
}
@mixin sprite_station_0001($width: 100px, $height: 100px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_station_0001();
  }
}


