@function sprite_image_url(){
  @return image-url('art.png');
}


@function sprite_position_city(){
  @return -154px -2px;
}
@mixin sprite_city($width: 100px, $height: 100px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_city();
  }
}

@function sprite_position_cloud(){
  @return -2px -2px;
}
@mixin sprite_cloud($width: 150px, $height: 150px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_cloud();
  }
}

@function sprite_position_pirate_fly_0000(){
  @return -158px -104px;
}
@mixin sprite_pirate_fly_0000($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_pirate_fly_0000();
  }
}

@function sprite_position_pirate_standby_0000(){
  @return -106px -154px;
}
@mixin sprite_pirate_standby_0000($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_pirate_standby_0000();
  }
}

@function sprite_position_ship_fly_0000(){
  @return -54px -154px;
}
@mixin sprite_ship_fly_0000($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ship_fly_0000();
  }
}

@function sprite_position_ship_standby_0000(){
  @return -2px -154px;
}
@mixin sprite_ship_standby_0000($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ship_standby_0000();
  }
}


