.city_dialog {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 600px;
  height: 450px;

  background-color: white;

  .content {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 530px;

    .ship_status {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
  }

  .error {
    position: absolute;
    top: 0px;
    left: 50px;
    width: 460px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #f0f0f0;
    text-align: center;
    padding: 5px 0;
  }
}