.city_dialog, .station_dialog, .death_screen {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 600px;
  height: 450px;

  background: image-url('dialog.png');

  .content {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 530px;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background: none;
  }

  .error {
    position: absolute;
    top: 0px;
    left: 50px;
    width: 460px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #f0f0f0;
    text-align: center;
    padding: 5px 0;
  }
}

.city_dialog, .station_dialog {
  .content {
    .ship_status {
      position: absolute;
      top: 100px;
      right: 0;
      width: 100px;
      text-align: left;

      .money, .cargo, .fuel, .health {
        padding-left: 13px;
        background-position: left;
        background-repeat: no-repeat;
      }
      .money {
        background-image: image-url('art/money.png');
      }
      .cargo {
        background-image: image-url('art/cargo.png');
      }
      .fuel {
        background-image: image-url('art/fuel.png');
      }
      .health {
        background-image: image-url('art/health.png');
      }
    }

    .trading {
      position: absolute;
      top: 100px;
      left: 0px;

      border-collapse: collapse;
      border-spacing: 0;

      td, th {
        border: 1px solid #B1A161;
        padding: 5px;
      }
    }
  }
}
